
.header {
    background-color: #645c56; 
    padding: 15px 0; 
}


.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}


.header_admin {
    color: white; 
    font-size: 18px; 
}

.header_navigation{
    display: flex;
    justify-content: space-between;
}

.header_links {
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
}

.header_links a {
    color: white; 
    text-decoration: none; 
}

.header_links a:hover {
    text-decoration: underline; 
}


.header_logout {
    color: white; 
    text-decoration: none; 
}

.header_logout:hover {
    text-decoration: underline; 
}


main {
    padding: 20px; 
    
}


.filters {
    background-color: #ffffff; 
    border-radius: 8px; 
    padding: 20px; 
}

/* Стили для контейнера внутри секции фильтров */
.container {
    max-width: 800px; 
    margin: 0 auto; 
}


form {
    gap: 350px; 
}


label {
    font-weight: bold; 
}


input[type="text"] {
    flex-grow: 1;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #fff; 
}


.clients {
    background-color: #f9f9f9; 
    padding: 20px; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
}


table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}


thead th {
    background-color: #6c6c6d; 
    color: white; 
    padding: 10px; 
    text-align: left; 
}


tbody td {
    padding: 10px; 
    border: 1px solid #ccc; 
}


tbody tr:hover {
    background-color: #f1f1f1; 
}


td i {
    cursor: pointer; 
    color: #0a0a0a; 
}

td i:hover {
    color:  #6a583e; 
}

.clients_add{
    display: flex;
    justify-content: flex-end;
    font-size:40px;
    top: 16px;
}   

.clients_title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/* Стили для модального окна */
.modal__overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Стили для контейнера модального окна */
.modal__container {
    background-color: #fff; /* Белый фон */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 500px; /* Максимальная ширина */
    width: 90%; /* Ширина по умолчанию */
    padding: 20px; /* Отступы внутри контейнера */
}

/* Стили для заголовка модального окна */
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для заголовка формы */
.modal__title {
    font-size: 24px; /* Размер шрифта заголовка */
    margin: 0; /* Убираем отступы */
}

/* Стили для кнопки закрытия модального окна */
.modal__close {
    background: none;
    border: none;
    cursor: pointer;
}

/* Стили для содержимого формы */
.modal__content {
    margin-top: 20px; /* Отступ сверху от заголовка */
}

/* Стили для групп полей ввода */
.form-group {
    margin-bottom: 15px; /* Отступ между полями ввода */
    display: flex; /* Используем flexbox для вертикального выравнивания */
    flex-direction: column; /* Располагаем элементы в столбик */
}

/* Стили для меток полей ввода */
label {
    margin-bottom: 5px; /* Отступ снизу метки */
}

/* Стили для полей ввода */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 250px; /* Полная ширина поля ввода */
    padding: 10px; /* Отступы внутри поля ввода */
    border-radius: 4px; /* Закругленные углы полей ввода */
    border: 1px solid #ccc; /* Рамка поля ввода */
}


/* Стили для кнопок в форме */
.form-actions {
    display: flex;
    justify-content: space-between; /* Распределение кнопок по краям */
}

button {
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 4px; /* Закругленные углы кнопки */
    border: none; /* Убираем рамку у кнопки */
    cursor: pointer; /* Указатель при наведении на кнопку */
}

button[type="submit"] {
    background-color: #4CAF50; /* Зеленый фон для кнопки "Создать" */
    color: white; /* Белый текст на кнопке "Создать" */
}

button[type="button"] {
    background-color: #f44336; /* Красный фон для кнопки "Отменить" */
    color: white; /* Белый текст на кнопке "Отменить" */
}

button:hover {
    opacity: 0.9; /* Эффект наведения на кнопку */
}

.modal__header {
    display: flex;
    justify-content: space-between; /* Разделение заголовка и кнопки закрытия */
    align-items: center;
}

.modal__title {
    font-size: 1.5em; /* Размер шрифта заголовка */
}

.modal__close {
    background: none; /* Без фона */
    border: none; /* Без границы */
    font-size: 1.5em; /* Размер шрифта кнопки закрытия */
    cursor: pointer; /* Указатель при наведении */
}

/* Основной контент модального окна */
.modal__content {
    margin-top: 15px; /* Отступ сверху от заголовка */
}

/* Стили для информации о заказе */
.order-info {
    margin-bottom: 15px; /* Отступ снизу от информации о заказе */
}

/* Стили для таблицы с заказами */
.order_items {
    width: 100%; /* Полная ширина таблицы */
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
}

.order_items th,
.order_items td {
    border: 1px solid #ccc; /* Граница ячеек таблицы */
    padding: 8px; /* Внутренний отступ в ячейках */
}

.order_items th {
    background-color: #f2f2f2; /* Цвет фона заголовков таблицы */
}

/* Стили для текста даты и общей суммы заказа */
.order_date,
.order_total {
    font-size: 0.9em; /* Уменьшенный размер шрифта для дополнительной информации */
}

@media (max-width:1400px){}

@media (max-width:992px){}

@media (max-width: 985px) {
    .clients table {
        width:100%;
        table-layout: fixed;
        border: none;
    }
    .clients table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #6c6c6d;
        font-size: 9px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .clients table td {
        text-align: left;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 10px 15px;
        font-size: 8px;
        vertical-align: top;
    }
    .clients table tbody tr:nth-child(even){
        background: #f3f3f3;
    }
     
    /* Стили для скролла */
    ::-webkit-scrollbar {
        width: 6px;
    } 
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }

    .clients_add{
        display: flex;
        justify-content: flex-end;
        font-size:20px;
        top: 16px;
    }   
}

@media (max-width:650px){
    .form_filters{
        display: flex;
        flex-direction: column;
    }

    .clients table {
        width:100%;
        table-layout: fixed;
        border: none;
    }
    .clients table thead th {
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #6c6c6d;
        font-size: 9px;
    }
    .clients table td {
        text-align: left;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 10px 15px;
        font-size: 5px;
        vertical-align: top;
    }
    .clients table tbody tr:nth-child(even){
        background: #f3f3f3;
    }
     
    /* Стили для скролла */
    ::-webkit-scrollbar {
        width: 6px;
    } 
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    } 
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    }

    .clients_add{
        display: flex;
        justify-content: flex-end;
        font-size:20px;
        top: 16px;
    }   

    label {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    form {
        gap: 35px; 
    }

    input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%; /* Полная ширина поля ввода */
    padding: 10px; /* Отступы внутри поля ввода */
    border-radius: 4px; /* Закругленные углы полей ввода */
    border: 1px solid #ccc; /* Рамка поля ввода */
}

    
}
